.title-block{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 30px;
    
    @media screen and (min-width: 768px) {
        padding: 60px 60px;
    }
    &__second{
        margin: 0;
        background: $gradient-red-text;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__services{
        &--item{
            @include flex-center-second;
            font-size: $fs-s;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;

            .icon-cheveron-right{
                font-size: $fs-xl;
            }

            &:hover{
                color: $accent;
            }

        }
    }
}

.cards{
    display: grid;
    grid-template-columns:repeat(minmax(261px, 1fr));
    padding: 0 30px 60px 30px;
    gap:30px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(261px, 1fr));
        padding: 0 60px 60px 60px;
        gap:60px
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(261px, 1fr));
    }

    .card__item{

        &--img {
            width: 92px;
            height: 92px;
            background: $a-active;
            @include flex-center-second;
            border-radius: 24px;
            padding: 14px;
        }

        &--title{
            color: $a-regular;
            width: 300px;
            line-height: 1;
            margin: 0;
            padding: 30px 0 15px 0;

            @media screen and (min-width: 1024px) {
                width: 260px;
            }
            @media screen and (min-width: 1440px) {
                width: 400px;
            }
        }

        &--text{
            margin: 0;
        }
    }
}