.title-block{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 30px;

    &__second{
        margin: 0;
    }

    &__services{
        &--item{
            @include flex-center-second;
        }
    }
}

.cards{
    display: grid;
    grid-template-columns:repeat(minmax(261px, 1fr));
    padding: 0 30px 60px 30px;
    gap:30px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(261px, 1fr));
        padding: 0 60px 60px 60px;
        gap:60px
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(261px, 1fr));
    }

    .card__item{

        &--img {
            width: 92px;
            height: 92px;
            background: $a-active;
            @include flex-center-second;
            border-radius: 24px;
        }
    }
}