.footer{
    margin-top: 40px;
    background: $color-bg;

    &__text{
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap:26px;
            align-items: center;
            padding-bottom: 21px;
        }
    }

    &__navigation{
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 26px;
            // padding-left: 98px;
        }
    }

    &__container {
        @include flex-between(0);
        flex-direction: column;
        padding: 32px 0 30px 0;
        
        @media screen and (min-width: 768px) {
            align-items: flex-start;
            width: 398px;
        }
        
        @media screen and (min-width: 1024px) {
            width: 100%;
            padding: 32px 60px 30px 60px;
            position: relative;
        }
    }

    &__paragraph{
        @include flex-center;
        margin: 0;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: $fs-m;
        line-height: 1;
        color: $main-color;

        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }
    &__map{
        @include flex-center;
        margin: 0;
        padding-bottom: 21px;
        font-size: $fs-xs;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        color: $a-regular;

        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }

    &__navigation{
        @include flex-center;
        flex-direction: column;
    }
    &__number{
        @include flex-center;
        align-items: center;
        padding-bottom: 10px;

        .footer__phone{
            color: $static-color;
            font-size: $fs-m;
            line-height: 1;
            font-weight: 700;
        }

        @media screen and (min-width: 768px) {
            padding-bottom: 0;
            width: 104px;
        }
    }
    &__facebook{
        @include flex-center;
        padding-bottom: 10px;
        font-size: 28px;
        color: $active-regular-color;

        &:hover{
            color: $a-hover;
        }
    }
    &__email{
        display: flex;
        align-items: center;
        font-size: $fs-m;
        line-height: 1;
        font-weight: 700;

        &--adress:hover {
            color: $a-hover;
        }

    }

    .copyright{
        margin-top: 30px;
        font-size: $fs-m;
        line-height: 1;
        color: $color-text;

        @media screen and (min-width: 768px) {
            padding-left: 50px;
        }
        @media screen and (min-width: 1024px) {
            top: 0;
            left: 93%;
            position: absolute;
            transform: translateX(-93%);
            width: 276px;
            padding-left: 0;
            margin-top: 32px;
        }
    }
}