body {
	font-family: 'Montserrat', sans-serif;
	// background: $main-color;
	// color: $main-color;
	font-size:$base-fz;
	line-height: $base-lh;
	// transition: background .2s ease, color .2s ease;
	// @include viewport-md {
	// 	font-size: 10px;
	// }
}
h1{
	font-size: $h1-fz;
	line-height: $h1-lh;
}
h2{
	font-size: $h2-fz;
	line-height: $h2-lh;
}
h3{
	font-size: $h3-fz;
	line-height: $h3-lh;
}
h4{
	font-size: $h4-fz;
	line-height: $h4-lh;
}
ul{
	font-size: $ul-fz;
	line-height: $ul-lh;
}
ol{
	font-size: $ol-fz;
	line-height: $ol-lh;
}
a{
	color: $a-regular;

	&:hover{
		color: $a-hover;
	}
}

.wrapper{
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 25px;
	text-align: center;
}
