body {
	font-family: 'Montserrat', sans-serif;
	// background: $main-color;
	// color: $main-color;
	font-size:$base-fz;
	line-height: $base-lh;
	// transition: background .2s ease, color .2s ease;
	// @include viewport-md {
	// 	font-size: 10px;
	// }
}
h1{
	font-size: $h1-fz;
	line-height: $h1-lh;
}
h2{
	font-size: $h2-fz;
	line-height: $h2-lh;

	@media screen and (min-width: 768px) {
		font-size: 38px;
	}
}
h3{
	font-size: $h3-fz;
	line-height: $h3-lh;
}
h4{
	font-size: $h4-fz;
	line-height: $h4-lh;
}
ul{
	font-size: $ul-fz;
	line-height: $ul-lh;
	margin: 0;
	padding: 0;
}
ol{
	font-size: $ol-fz;
	line-height: $ol-lh;
}
a{
	color: $a-regular;
	text-decoration: none;

	// &:hover{
	// 	color: $a-hover;
	// }
}
li{
	list-style: none;;
}
.wrapper{
	// min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1630px;
	margin: 0 auto;
	padding: 0 15px;
	// position: relative;
}

.title {
	font-size: 25px;
	text-align: center;
}
.mobile-hidden{
	display: none;

	@media screen and (min-width: 768px){
		display: block;
	}
}
.bg-linear{
	background: $gradient-supersoft;
	color: $a-active;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	position: relative;

	&::before{
		content: '';
		position: absolute;
		bottom:0;
		left: 20px;
		right: 20px;
		height: 10px;
		background:rgba(202, 202, 219, 1);
		border-radius: 0 0 12px 12px;
		transform: translateY(10px);
		z-index: -1px;
	}
	&::after{
		content: '';
		bottom:0;
		position: absolute;
		left: 40px;
		right: 40px;
		height: 10px;
		background: rgba(231, 231, 242, 1);
		border-radius: 0 0 12px 12px;
		transform: translateY(20px);
		z-index: -1;
	}
}
html{
	scroll-behavior: smooth;
}