
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    &__container{
        padding: 0;
    }
}
.header__container{
    @media screen and (min-width: 768px) {
        padding: 50px 0 0 60px;
    }
    @media screen and (min-width: 1024px) {
        padding: 50px 60px 0 60px;
        display: flex;
        justify-content: space-between;
        position: relative;
        // padding: 0 60px;
        flex-direction: row-reverse;
    }
}
.icon-menu-icon{
    font-size: 25px;
}
.lang-list{
    display: flex;
    gap:8px;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1;
    font-weight: 700;
    font-size:$fs-xs;
    color:$color-text;

    &-item:hover:not(.lang-list-item--active){
        background: $a-hover;
        color: $a-active;
        border-radius: 8px;
        @media screen and (min-width: 768px) {
            background: $color-bg;
            color: $color-text;
        }

    }
    &-item{
        border-radius: 8px;
        
        
        &--active{
            background: $a-hover;
            color: $a-active;
            border-radius: 8px;
        }
    }

    &__link{
        display: inline-block;
        color: inherit;
        padding: 5px 7px;
    }
}
.header-info{
    background: $color-bg;
    @include flex-between(0);
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 10px 15px;

    // @media screen and (min-width: 768px) {
    //     background: none;
    //     padding: 0 0 30px 0;
    //     justify-content: space-between;
    //     width: 482px;
    // }

    @media screen and (min-width: 768px) {
        background: none;
        padding: 0 0 30px 0;
        justify-content: space-between;
        width: 482px;

        &__item+.header-info__item {
            position: relative;
        
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background: $a-active;
                border-radius: 50%;
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 0;
    }

    .address-size {
        width: 201px;
        font-weight: 400;
        font-size: $fs-m;
        line-height: 1;
        color: $color-text;
    }
    
    .mobile-size {
        width: 104px;
        font-weight: 700;
        font-size: $fs-m;
        line-height: 1;
        color: $color-text;

        .mobile-number{
            color: $color-text;
        }
    }
    
    .icon-size {
        font-size: 24px;
        color: $color-text;

        &:hover{
            color: $a-hover;
        }
    }
}
.header-bottom{
        @include flex-between(0);
        padding: 10px 15px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap:30px;
        width: 420px;
    }
    @media screen and (min-width: 1024px) {
        .header__logo{
            position: absolute;
            // top:10px;
        }
    }
}
.menu{
    width: 359px;
    border-radius: 12px 12px 0 0;
    padding: 12px 12px 0 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    // transform: translateX(-50%);
    background: $a-active;
    transform: translateY(120%);
    transition: 0.3s;

    @media screen and (min-width: 768px) {
        transform:none;
        position: static;
        transition: none;
        background: none;
        margin: 0;
        width: 416px;
        padding: 0;
    }

    &.active {
        transform: translateY(0);
        // transform: translateX(-50%);
        transition: 0.3s;
    }

    &__list{
        // display: flex;
        @include flex-between(0);
        flex-direction: column;
        // justify-content: center;
        // align-items: center;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap:15px;
        }
        @media screen and (min-width: 1024px) {
            position: absolute;
            top: 95px;
            right: 62px;
        }
    }
    &__burger{
        @include flex-between(0);
        padding-right: 4px;
        &:active{
            background: $color-separator;
            padding: 4px 4px;
            border-radius: 8px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__item{
        // width: 335px;
        padding-bottom: 15px;
    }
    &__cross{
        display: block;
        text-align: right;
        padding-bottom: 20px;
        color: $cross-color;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__link{
        // display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        background: $color-bg;
        width: 335px;
        border-radius: 12px;
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 1;

        &:hover{
            color: $a-hover;
        }


        @media screen and (min-width: 768px) {
            flex-direction: row;
            padding: 0;
            background: none;
            width: auto;
            font-size: $fs-m;
            line-height: 1;
            font-size: $fs-m;
            line-height: 1;
            font-weight: 700;
            
            &:hover:not(.menu__link--active){
                color: $a-regular;
            }
            &:hover:not(.menu__link--active)::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                top: 20px;
                background-color: $a-regular;
            }

            &--active{
                color: $a-hover;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $a-hover;
                    top: 20px;
                }

            }
        }
    }
}