.intro{
    min-height: 100vh;
    padding: 150px 0;
    @include flex-center;
    align-items: center;
    background: url(../img/intro-logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    text-align: center;
}