.intro{
    min-height: 100vh;
    padding: 150px 15px;
    @include flex-center;
    align-items: center;
    background: url(../img/intro-logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    text-align: center;
    position: relative;

    &__anchor{
        @include flex-center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 2px solid $color-header;
        position: absolute;
        bottom: 30px;
        left:50%;
        transform: translateX(-50%);
        border-radius: 50%;

        .icon-chevron-thin-down{
            color: $a-active;
        }

        &:hover {
            border: 2px solid $a-hover-active;

            .icon-chevron-thin-down {
                color: $a-hover;
            }
        }
    }
}