@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-gradient {
  background: var(--hero-name-background);
  background-clip: text;
  color: transparent;
}

@mixin flex-between($gap:0){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:$gap;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
}