@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-grad {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);;
  background-clip: text;
  color: transparent;
}

@mixin flex-between($gap:0){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:$gap;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
}
@mixin flex-center-second{
  display: flex;
  align-items: center;
  justify-content: center;
}