// .person{
//     padding: 50px 30px 0 30px;

//     @media screen and (min-width: 768px) {
//     }
//     padding:80px 60px 0 60px;
// }

// .person-container{
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     @media screen and (min-width: 1024px) {
//         flex-direction: row;
//     }

//     .person__photo {
//         min-height: 344px;
//         width: 315px;
//         // &--item {
//         //     width: 400px;
//         //     min-height: 344px;
//         //     object-fit: cover;
//         // }
//     }

//     // @media screen and (min-width: 1024px) {
//     // }
// }