.publications{
    padding: 30px;
    background: $color-bg;
    @media screen and (min-width: 768px) {
        padding: 60px;
    }

    &__card{
        background: $a-active;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        flex-grow: 1;

        @media screen and (min-width: 768px) {
            flex-basis: calc(50% - 30px); 
        }
        @media screen and (min-width: 1024px) {
            flex-basis: calc(33% - 30px);
        }
    }
    &__container{
        display: flex;
        gap:30px;
        flex-wrap: wrap;
    }
    &__text{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: $a-active;
        padding: 30px;
        
        &--title{
            margin: 0;
            font-size: $fs-m;
            line-height: 1;
            color: $a-regular;
            padding-bottom: 15px;
        }
        &--number{
            margin: 0;
            font-size: $fs-xs;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-text;
            letter-spacing: 1px;
            padding-bottom: 15px;
            border-bottom: 4px solid $color-separator;
        }
        &--text{
            margin: 0;
            padding-top: 15px;
            font-size: $fs-s;
            line-height: 1.5;
        }
    }
    &__picture{
        height: 200px;

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius:8px;
        }
    }
    &__title--title{
        margin: 0;
        padding-bottom: 30px;
        line-height: 1.2;
    }
    &__title{
        &--text {
            font-size: $fs-s;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            padding-bottom: 5px;
        
            .icon-cheveron-right {
                font-size: 18px;
            }
        }
    }
}