.publications{
    padding: 30px 30px 0 30px;
    background: $color-bg;

    &__text{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: $a-active;
        padding: 30px;
        
        &--title{
            margin: 0;
        }
    }
    &__picture{
        height: 200px;

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius:8px;
        }
    }
    &__title--title{
        background: $gradient-red-text;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        padding-bottom: 30px;
        line-height: 1.2;
    }
    &__title{
        &--text {
            font-size: $fs-s;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            padding-bottom: 5px;
        
            .icon-cheveron-right {
                font-size: 18px;
            }
        }
    }
}