.tabs{
    margin-top: 60px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    @media screen and (min-width: 1024px) {
        display: flex;
        padding: 0 60px;
    }
    &__link{
        &--item{
            padding: 30px 0 30px 0;
            margin: 0;
            color: $color-text;
            &:hover{
                @include text-grad
            }

            @media screen and (min-width: 768px) {
                padding: 60px 0;
            }
            @media screen and (min-width: 1024px) {
                padding: 0;
                text-align: end;
            }
        }
    }
    &__list{
        display: flex;
        gap:30px;
        white-space: nowrap;
        padding-left: 30px;
        overflow: auto;

        @media screen and (min-width: 768px) {
            padding-left: 60px;
        }
        @media screen and (min-width: 1024px) {
            flex-direction: column;
            width: 50%;
            flex-shrink: 0;
            // padding: 14.5px 60px ;
            padding: 14.5px 56px 14.5px 0;
        }
    }
    &__content{
        padding: 0 30px;

        @media screen and (min-width: 768px) {
            padding: 0 60px;
        }
        @media screen and (min-width: 1024px) {
            padding: 0 0 0 64px;
        }

        &-item{
            margin: 0;
            padding: 30px 0;
            border-top: 4px solid rgba(255, 255, 255, 0.3);
            font-size: $fs-xl;

            @media screen and (min-width: 768px) {
                padding: 60px 0 30px 0;
                font-size: 30px;
            }
            @media screen and (min-width: 768px) {
                border-top: none;
                padding: 9.5px 0 30px; 
            }

        }

        &-paragraph{
            font-size: $fs-l;
            line-height: 30px;
            font-weight: 400;
            margin: 0;
        }
    }
    &__content-text{
        &:not(.active) {
            display: none;
        }
    }
}