$main-color:#323264;
$main-alt-color:#46466E;
$main-soft_color:#686887;
$accent:#F0145A;
$active-regular-color:#24A3FF;
$active-hover-color:#0085FF;
$active-color:#006CCF;
$grey-bg:#F5F5FA;
$grey-bg-alt:#EDEDF7;
$grey-text:#B3B3BA;
$grey-separator:#E6E6F0;








// $main-color:  #323264;
// $second-color: #161618;
// $mute-color: #313136;
// $main-text-color: rgba(255, 255, 245, .86);
// $second-text-color: rgba(235, 235, 245, .6);
// $hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
// $brand-color: #646cff;
// $brand-light-color: #747bff;

$base-fz: 14px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;
