$main-color:#323264;
$main-alt-color:#46466E;
$main-soft_color:#686887;
$accent:#F0145A;
$active-regular-color:#24A3FF;
$active-hover-color:#0085FF;
$active-color:#006CCF;
$color-bg:#F5F5FA;
$color-bg-alt:#EDEDF7;
$color-text:#B3B3BA;
$color-separator:#E6E6F0;
$gradient:linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft:linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red:linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$a-regular: #24A3FF;
$a-hover: #F0145A;
$a-active:#FFFFFF;
$cross-color:#EC6F5D;
$static-color:#46466E;
$base-fz: 16px;
$base-lh: 1.6;
$base-ff: "Montserrat", sans-sarif;
$h1-fz:38px;
$h1-lh:1;
$h2-fz: 30px;
$h2-lh: 1;
$h3-fz: 22px;
$h3-lh: 1;
$h4-fz: 16px;
$h4-lh: 1;
$ul-fz:18px;
$ul-lh:1.4;
$ol-fz: 18px;
$ol-lh: 1.4;
$fs-xs:12px;
$fs-s:14px;
$fs-m:16px;
$fs-l:19px;

// $main-color:  #323264;
// $second-color: #161618;
// $mute-color: #313136;
// $main-text-color: rgba(255, 255, 245, .86);
// $second-text-color: rgba(235, 235, 245, .6);
// $hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
// $brand-color: #646cff;
// $brand-light-color: #747bff;
